<!DOCTYPE html>
<html lang="en" class="list">

<%- include("../partials/includes") %>

<body class="list">
  <%- include("../partials/header") %>

  <div class="actions">
    <div class="actions__container">
      <input id="searchText" class="input" type="text" placeholder="Filter Tasks">
      <label class="checkbox" style="margin-right:1.6rem;">
        <input type="checkbox" id="hideCompletedTasks">
        Hide completed tasks
      </label>
      <i class="material-icons">settings_applications</i>
      <select class="dropdown"></select>
    </div>
  </div>

  <div class="container">
    <div id="tasks">
      <div id="taskSummary"></div>
      <div id="tasksList"></div>
    </div>
    <form id="addTask">
      <input class="input" type="text" name="taskText" placeholder="Add Task">
      <button class="button" type="submit">Add Task</button>
    </form>
  </div>

  <p style="display: none;" id="owner"><%= _id %></p>

  <script src="/js/index.js" type="module"></script>
</body>

</html>